ul{
  list-style-type: none;
}

li {
  list-style-type: none;
}
.negative{
  color: black; 
  background: red;
}

.positive{
  color:black;
  background: green;
}

.header {
  /* font-family: 'Slackey', cursive; */
  background-color: orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; 
}


.center{
  text-align: center;
}